In [7]:
import pandas as pd
import numpy as np
import os
import time
import sys
from pathlib import Path
start_time = time.time()
import click

In [41]:
main_path = os.getcwd().split('\\bootcamp_covid')[0].capitalize() #confirma o diretório de instalação do script

In [2]:
#função de diminuição de dimensionalidade de listas
def flatten_list(_2d_list):
    flat_list = []
    for element in _2d_list:
        if type(element) is list:
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

In [62]:
df = pd.read_csv(r'{}\bootcamp_covid\data\external\covid_data\owid-covid-data.csv'.format(main_path)) 
#A utilização destes dados se da por conta da origem dos dados do kaggle virem desses dados e já foi verificado que os dados são os mesmos,
#com isso será utilizado os dados gerados na variável "df" para o andamento do trabalho
paises = ['Mexico', 'Argentina', 'Ecuador', 'Chile', 'Spain']

In [66]:
# carrega os dados em um dicionário
query_country = df[df['location'].isin(paises)]

In [51]:
#Cria as colunas target
columns = ['date','population', 'diabetes_prevalence', 'median_age', 'total_vaccinations', 'hosp_patients','people_fully_vaccinated', 'total_vaccinations_per_hundred','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','population_density', 'cardiovasc_death_rate','female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index']

In [67]:
add_info_data = query_country.loc[:, columns]
add_info_data.to_excel('add_info.xlsx')

,date,population,diabetes_prevalence,median_age,total_vaccinations,hosp_patients,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population_density,cardiovasc_death_rate,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
7998,2020-01-01,45510324.0,5.50,31.9,NaN,NaN,NaN,NaN,NaN,NaN,16.177,191.032,16.2,27.7,NaN,5.00,76.67,0.845
7999,2020-01-02,45510324.0,5.50,31.9,NaN,NaN,NaN,NaN,NaN,NaN,16.177,191.032,16.2,27.7,NaN,5.00,76.67,0.845
8000,2020-01-03,45510324.0,5.50,31.9,NaN,NaN,NaN,NaN,NaN,NaN,16.177,191.032,16.2,27.7,NaN,5.00,76.67,0.845
8001,2020-01-04,45510324.0,5.50,31.9,NaN,NaN,NaN,NaN,NaN,NaN,16.177,191.032,16.2,27.7,NaN,5.00,76.67,0.845
8002,2020-01-05,45510324.0,5.50,31.9,NaN,NaN,NaN,NaN,NaN,NaN,16.177,191.032,16.2,27.7,NaN,5.00,76.67,0.845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201799,2022-11-24,47558632.0,7.17,45.5,NaN,3521.0,NaN,NaN,NaN,NaN,93.105,99.403,27.4,31.4,NaN,2.97,83.56,0.904
201800,2022-11-25,47558632.0,7.17,45.5,NaN,3497.0,NaN,NaN,NaN,NaN,93.105,99.403,27.4,31.4,NaN,2.97,83.56,0.904
201801,2022-11-26,47558632.0,7.17,45.5,NaN,3472.0,NaN,NaN,NaN,NaN,93.105,99.403,27.4,31.4,NaN,2.97,83.56,0.904
201802,2022-11-27,47558632.0,7.17,45.5,NaN,3703.0,NaN,NaN,NaN,NaN,93.105,99.403,27.4,31.4,NaN,2.97,83.56,0.904
201803,2022-11-28,47558632.0,7.17,45.5,NaN,NaN,NaN,NaN,NaN,NaN,93.105,99.403,27.4,31.4,NaN,2.97,83.56,0.904

In [68]:
df0 = pd.read_csv(r'{}\bootcamp_covid\data\bronze\twitter_bronze\AR_raw_data.csv'.format(main_path))
df0['Country'] = 'Argentina'

In [70]:
df0 = pd.read_csv(r'{}\bootcamp_covid\data\bronze\twitter_bronze\AR_raw_data.csv'.format(main_path))
df0['Country'] = 'Argentina'
df1 = pd.read_csv(r'{}\bootcamp_covid\data\bronze\twitter_bronze\CL_raw_data.csv'.format(main_path))
df1['Country'] = 'Chile'
df2 = pd.read_csv(r'{}\bootcamp_covid\data\bronze\twitter_bronze\MX_raw_data.csv'.format(main_path))
df2['Country'] = 'Mexico'
df3 = pd.read_csv(r'{}\bootcamp_covid\data\bronze\twitter_bronze\EQ_raw_data.csv'.format(main_path))
df3['Country'] = 'Ecuador'
df4 = pd.read_csv(r'{}\bootcamp_covid\data\bronze\twitter_bronze\ES_raw_data.csv'.format(main_path))
df4['Country'] = 'Spain'

In [74]:
all = pd.concat([df0,df1,df2,df3,df4])
all.drop('Unnamed: 0', axis = 1)

,text,score,retweet,like,date,lat,long,lang,text_simm,Country,country
0,La OMS estima que no habrá vacuna contra el co...,0.0,0,1,2020-02-11,-34.604450,-58.446244,es,0.999993,Argentina,NaN
1,"Coronavirus: covid-19, la enfermedad del nuevo...",0.0,0,0,2020-02-11,-34.604450,-58.446244,es,0.999995,Argentina,NaN
2,"No digas virus chino o enfermedad china, porqu...",0.0,0,0,2020-02-11,-34.604450,-58.446244,es,0.999997,Argentina,NaN
3,Coronavirus Covid-19: paciente contagiada fue ...,0.0,0,2,2020-02-12,-32.951572,-60.693506,es,0.999996,Argentina,NaN
4,Coronavirus Covid-19: paciente contagiada fue ...,0.0,1,1,2020-02-12,-32.951572,-60.693506,es,0.999996,Argentina,NaN
...,...,...,...,...,...,...,...,...,...,...,...
66171,@Cesar_Vargass @RogerAderly Igualmente aunque ...,0.0,0,1,12/31/2021,NaN,NaN,es,0.999996,Spain,Spain
66172,"Covid, covid , tengo covid y di positivo el dí...",0.0,0,0,12/31/2021,NaN,NaN,es,0.999997,Spain,Spain
66173,"@manupapay Tengo las 3 vacunas, estuve con 4 p...",0.0,0,1,12/31/2021,NaN,NaN,es,0.999997,Spain,Spain
66174,Espero que el 2022 sea un año mejor que este 2...,0.0,0,6,12/31/2021,NaN,NaN,es,0.999997,Spain,Spain
66175,Solo sin covid xD la regla si que la tengo xD ...,0.0,0,3,12/31/2021,NaN,NaN,it,0.714284,Spain,Spain

In [170]:
all.to_excel('twitter_data.xlsx')

In [ ]:
print("--- %s seconds ---" % (time.time() - start_time))